$familyfriendscolor: #7041DA;
$angelinvestorcolor: #FF5402;
$venturecapitalcolor: #C7F83F;
$foundercolor: #FFFFFF;
$esopscolor: #00AD65;
$otherscolor: #57605C;
$bgcolor: #57605C4D;
$buttoncolor: #C7F83F;
$greytext: #879790;
$numericslidercolor: #7041DA;


$textBlack: #000;
$bgDarkColor: #141414;
$bgWarningColor: #ffd600;
$textBlue: #0029ff;
$textGrey: #f7f9fb;
$textDarkGrey: #ccc;
$swiperButtonBg: #222;
$swiperButtonBgHover: #191919;
$collabArrowBg: #f8fafc;
$textYellow: #ffd600;
$copyrightText: #ababab;

